<div>
  <table *ngIf='totaisDia && totaisDia.length'>
    <tr *ngFor='let totalDia of totaisDia'> 
      <td class="tb_nome">META</td>
      <!-- <td class="tb_num">{{ total.QTD_META_DIA | number : '1.2-2' }}</td>  {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits} -->
      <td class="tb_num">{{ totalDia.QTD_META_DIA | number : '1.0-2' }}</td>
    </tr>
    <tr *ngFor='let totalDia of totaisDia'> 
      <td class="tb_nome"><span mdTooltip="Média dos últimos 3 dias úteis correspondentes">HISTORICO</span></td>
    <!-- <tr *ngFor='let total of totais'>  -->
      <td class="tb_num">{{ totalDia.QTD_HIST_ACUM_DIA | number : '1.0-2' }}</td>
    </tr>
    <tr *ngFor='let totalDia of totaisDia'> 
      <td class="tb_nome">AFERIDO</td>
      <td class="tb_num">{{ totalDia.QTD_AFER_ACUM_DIA | number : '1.0-2' }}</td>
    </tr>
    <tr *ngFor='let totalDia of totaisDia'> 
      <td class="tb_nome"><span mdTooltip="Diferença entre o HISTÓRICO e o AFERIDO">GAP HISTÓRICO</span></td>
      <td class="tb_num">{{ totalDia.QTD_GAP_HIST_DIA | number : '1.0-2' }}</td>
    </tr>
    <tr *ngFor='let totalDia of totaisDia'> 
      <td class="tb_nome"><span mdTooltip="Diferença entre a META e o AFERIDO">GAP META</span></td>
      <td class="tb_num">{{ totalDia.QTD_GAP_META_DIA | number : '1.0-2' }}</td>
    </tr>

  </table>
</div>