<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
  <md-toolbar class="barratitulo" color="primary">

    <div class="titulo" fxFlexAlign="center">MeiosDigitais</div>
    <div class="titulocaixa" fxFlexAlign="center">CAIXA</div>
    <div>
      <span fxFlex></span>
      <button md-button class="btnavbar" fxFlexAlign="center">  Sumário  </button>
      <button md-button class="btnavbar" fxFlexAlign="center">  Realize  </button>
      <button md-button class="btnavbar" fxFlexAlign="center">  Monitor  </button>
      <button md-button class="btnavbar" fxFlexAlign="center">  Campanhas  </button>
    </div>
    <span fxFlex></span>
    <!-- <button md-icon-button [mdMenuTriggerFor]="themeMenu">
    <md-icon>more_vert</md-icon>
    </button> -->
  </md-toolbar>

  <md-sidenav-container fxFlex class="scroll-area">

    <md-sidenav mode="side" opened>
      <md-nav-list>
        <md-list-item class="list-wrapper">
          <span>Loterias - Mega-Sena</span>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>

    <md-grid-list class="subtitulo" cols="1" rowHeight="40px">
      <md-grid-tile>
          Loterias - Mega-Sena
      </md-grid-tile>
    </md-grid-list>
    <!-- <button md-button class="subtitulo" color="accent">Loterias - Mega-Sena</button> -->
    <!-- <md-toolbar class="subtitulo" color="accent">Loterias - Mega-Sena
    </md-toolbar> -->

    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="8px">
      <md-card fxFlex="80">
        <md-card-title align="center">Movimento Dia</md-card-title>
        
        <app-movimento></app-movimento>

      </md-card>
      <md-card fxFlex="20" fxLayout="column">
        <md-card-title align="center"><span mdTooltip="Acumulados desde o início do dia">Totais Dia</span></md-card-title>

        <app-totais-dia></app-totais-dia>

      </md-card>
    </div>

    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="8px">
      <md-card fxFlex>
        <md-card-title align="center">Atingimento Meta Dia</md-card-title>

        <app-donut></app-donut>

      </md-card>
      <md-card fxFlex="75">
        <md-card-title align="center">Acumulado Dia</md-card-title>

        <app-acumulado></app-acumulado>

      </md-card>
    </div>
  </md-sidenav-container>

  <!-- <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Mudar Tema</button>
  </md-menu> -->

</div>
