:host {
  display: flex;
  flex: 1;
}

.legend {
  font-size: 2.2em;
}

md-sidenav {
  width: 265px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28); 
}

/deep/ md-icon.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 12px;
}

md-card{
  margin-bottom: 0px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;

}

md-card-title {
  overflow: hidden;
  font-family: futura35;
  height: 24px;
  margin: 0px;
  padding-bottom: 5px;
  font-size: 1.4em;
}

.titulo {
  font-family: futura85;
  font-size: 1.4em;
  padding-left: 2px;
  padding-right: 0px;
  text-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.titulocaixa {
  font-family: futura35;
  font-size: 1.4em;
  padding-left: 0px;
  padding-right: 10px;
  text-shadow: 0 0 8px rgba(0, 0, 0, .38), 0 8px 16px rgba(0, 0, 0, .48);
}

.subtitulo {
  background-color: #093170;
  color: #E3E6EA;
  font-family: futura85;
  font-size: 1.5em;
  padding-left: 60px;
  padding-right: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .8), 0 3px 5px rgba(0, 0, 0, .16); 
}

.barratitulo {
  font-family: futura35;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28); 
}

.list-wrapper {
  border-top: 1px solid #6abd2d;
  border-bottom: 1px solid #6abd2d;
  font-family: futura35;
  font-size: 1.2em; 
}

.btnavbar {
  font-family: futura35;
  font-size: 1.4em;
  padding-left: 50px;
  padding-right: 50px; 
  //box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  //text-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.content {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

@media (max-width: 960px) {
  .cardchart {
    // padding: 5px;
    // width: 80%;
    // height: 100%;
  }
}

.fab-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

// /deep/ .mat-list-item-content {
//   height: auto !important;
// }

.scroll-area {
  overflow: auto;
}